<form action="/user-edit/{{_id}}" method="POST">
  <div class="login-page">
    <div class="form">

      <input name="name" type="text" value={{name}} />
      <input name="username" type="text" value={{username}} />
      <input name="age" type="number" value={{age}} />

      <div class="bt2">
        <label for="sex">sex:</label>
        <select name="sex"> value={{sex}}>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

      {{#if loggedInUser}}
      {{#eq loggedInUser.role "admin"}}
      <div class="bt2">
        <label for="sex">role:</label>
        <select name="role">
          <option value="admin">Admin</option>
          <option value="doctor">Doctor</option>
          <option value="user">User</option>
        </select>
      </div>
      {{/eq}}
      {{#eq loggedInUser.role "user"}}
      <input name="role" type="text" value={{role}} readonly />
      {{/eq}}
      {{#eq loggedInUser.role "doctor"}}
      <input name="role" type="text" value={{role}} readonly />
      {{/eq}}
      {{/if}}

      <button type="submit">Edit</button>

    </div>
  </div>

</form>