<a class="header-links" href="/">main </a><a class="header-links" href="/view">> pathologies</a><a class="header-links"
    href="/view/{{pathology}}">> organs</a>
<a class="header-links" href="/view/{{pathology}}/{{organ}}">> types</a><a class="header-links"
    href="/view/{{pathology}}/{{organ}}/{{type}}">> subtypes</a>
<a class="header-links" href="/view/{{pathology}}/{{organ}}/{{type}}/{{subtype}}">> entities</a>


<h1>{{subtype}}</h1>

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {{#each allEntities }}
            <div class="d-flex flex-row justify-content-between">
                <a class="pathologies-subtype"
                    href="/view/{{../pathology}}/{{../organ}}/{{../type}}/{{../subtype}}/{{this}}">{{this}}</a>

                {{#eq ../loggedInUser.role "admin"}}
                <form action="/delete/{{../pathology}}/{{../organ}}/{{../type}}/{{../subtype}}/{{this}}" method="POST">
                    <button type="submit" style="border: none; background-color: white;">
                        <img style=" " src="/images/delete_btn.jpg" alt="">
                    </button>
                </form>
                {{/eq}}
                {{#eq ../loggedInUser.role "doctor"}}
                <form action="/delete/{{../pathology}}/{{../organ}}/{{../type}}/{{../subtype}}/{{this}}" method="POST">
                    <button type="submit" style="border: none; background-color: white;">
                        <img style=" " src="/images/delete_btn.jpg" alt="">
                    </button>
                </form>
                {{/eq}}

            </div>
            {{/each}}
        </li>

    </ul>
</div>
<br>
{{#eq loggedInUser.role "admin"}}
<a class="btn btn-success" href="/create/{{pathology}}/{{organ}}/{{type}}/{{subtype}}" role="button">Create a new
    Entity</a>
{{/eq}}
{{#eq loggedInUser.role "doctor"}}
<a class="btn btn-success" href="/create/{{pathology}}/{{organ}}/{{type}}/{{subtype}}" role="button">Create a new
    Entity</a>
{{/eq}}