<a class="header-links" href="/">main </a>
<a class="header-links" href="/view">> pathologies</a><a class="header-links" href="/view/{{pathology}}">> organs</a><a
    class="header-links" href="/view/{{pathology}}/{{organ}}">> types</a>

<h1>{{organ}}</h1>


<div class="card" style="width: 28rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {{#each allTypes}}
            <div><a class="pathologies-subtype" href="/view/{{../pathology}}/{{../organ}}/{{this}}">{{this}}</a>
            </div>
            {{/each}}
        </li>

    </ul>
</div>